body{
  background-color: black;
  color: white;
}
#count{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
hr{
  border:2px solid white;
}
.spinner-border{
  height: 100px;
  width: 100px;
}
.child-component{
position: absolute;
z-index: 1;
top: 50%;
left: 50%;
background-color: aqua;
height: 300px;
width: 400px;
color: brown;
transform: translate(-50%,-50%);
}